.btn {
  background-color: #81b3d2;
  padding: 16px;
  color: #ffffff;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
  font-family: $main-font;

}
