.search {
  text-align: center;
  padding: 38px 18px 49px 18px;
}

.search__desc {
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 32px;
}

.search__title {
  margin-bottom: 25px;
  text-transform: uppercase;
}

.search__link {
  width: 100%;
}
