.container {
  min-width: 320px;
  padding: 0 20px;
  // outline: 1px solid tomato;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1300px;
  }
}
