$oswald-font: "Oswald", "Arial Narrow", sans-serif;
$main-font: "Lato", "Arial", sans-serif;
$special-dark-grey: #444444;
$basic-green: #68b738;
$basic-green-hover: #5eaa2f;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
